/* Basic light mode styles */
body {
    transition: background-color 0.3s, color 0.3s;
    background-color: #d9d5de;
    color: #856f9e;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #201e21;
    color: #4c3c5e;
}

/* Card styles */
.card {
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15px;
    overflow: hidden;
}

.card.dark-mode {
    background-color: #4c3c5e;
    color: #d9d5de;
}

/* Button styles */
.btn-dark-mode {
    color: #d9d5de;
    background-color: #201e21;
    border-color: #201e21;
}

.btn-dark-mode:hover {
    background-color: #4c3c5e;
    border-color: #4c3c5e;
}

/* Input styling */
input.form-control {
    margin-bottom: 10px;
    background-color: #d9d5de;
    color: #856f9e;
    border-color: #856f9e;
}

input.form-control.dark-mode {
    background-color: #201e21;
    color: #4c3c5e;
    border-color: #4c3c5e;
}

/* Card image */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Add some padding around the card content */
.card-body {
    padding: 15px;
}
